.container-fluid {
  margin-top: 10px;
  margin-left: 43px;
}
.navbar-brand {
  font-size: 40px;
  font-weight: 600;
  color: tomato;
}
.navbar-nav,
.nav-link {
  margin-left: auto;
  padding-right: 30px;
  font-weight: 400;
  color: black;
}
